

/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* font for body text */
body {
  font-family: "Nunito", sans-serif;
}


/* font for headings */
h1, h2, h3 {
  font-family: "Comic Neue", cursive;
}



/* styling for the title text */
h1 {
  text-align: center;  
  /* background-color: #E8F9FD;    */

  background-color: #E6F7ED; 
  /* background-color: #FFF9E6; */
  /* background-color: #F0FBF5;  */

  /* border: 3px solid #ff4b5c;  */
    border: 1px solid #2A9D8F; 
  color: #ff4b5c; 
  text-shadow: 2px 2px rgba(255, 75, 92, 0.3);    /* NEW PROPERTY: text shadow */
  /* color: #2A9D8F; */
  padding: 20px;                
  margin: 20px auto;    
  /* margin: 0 auto 20px;     */
  width: 45%; 
  /* width: 62%;  */
  border-radius: 15px;   
}


/* styling for the subheadings */
h2{
    color: #2A9D8F;
}



/* body styling */
main{
  width: 60%; 
  margin: 20px auto 48px;     /* center */
  padding: 24px 28px;
  background: #FFFFFF;      
  /* border: 1px solid rgba(255,111,97,0.6);  */
  border-radius: 14px;
 line-height: 1.6;
 box-shadow: 0 4px 12px rgba(255, 75, 93, 0.287);      /* NEW PROPERTY: box shadow */
}





nav {
  width: 100%;               
  margin: 20px auto;
}

nav ul {
  list-style: none;
  padding: 10px 20px;
  margin: 0 auto;            /* centering box */
  width: max-content;       
  background-color: #E6F7ED; 
  /* border: 2px solid #ff4b5c; */
  /* border: 2px solid rgba(255,111,97,0.6);  */
  border: 1px solid #2A9D8F; 
  border-radius: 12px;
}

nav li {
  display: inline-block;     /*  links in a row */
  margin: 0 12px;
}

nav a {
  text-decoration: none;
  color: #ff4b5c;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}


/* when hover, copy the styling of the heading */
nav a:hover {
  background-color: rgba(230, 247, 237, 0.6);
    color:rgba(255,111,97,0.6);          
}


/* removing the underline and adding color to the links within pages */
a {
  text-decoration: none;       
  color:rgba(255,111,97,0.6);               
   font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 15px; 
}

a:hover {
  color: #ff4b5c; 
}







/* STORY PAGE STYLING */

/* adding spacing & inc font for the story */
.story-page main {
  line-height: 1.85;
  font-size: 17px;
}

/* making h3 different but ONLY for the story page */
.story-page h3 {
  font-family: "Comic Neue", cursive;

}

/* stlying for the blockquotes in the story... giving it a light orange  box */
.story-page blockquote {
  margin: 12px 0 16px 24px;
  padding: 12px 16px;
  background-color: rgba(230, 247, 237, 0.6);
  /* background: #FFF8F6; */
  font-style: italic;
  border-radius: 8px;
}







/* SETTING PAGE STYLING */
/* only for h4 headings within the setting page */
.setting-page section h4 {
  font-size: 0.9em;
  color: #2A9D8F;
  font-family: "Comic Neue", cursive;
  margin-top: -6px;
}







/* CHARACTER GALLERY PAGE STYLING  */

.character-page main {
  width: 62%; 
  margin: 20px auto 48px;     /* center */
  padding: 24px 28px;
  /* background-color: rgba(230, 247, 237, 0.6);   */
  /* border: 2px solid rgba(255,111,97,0.6);  */
  border-radius: 14px;
 line-height: 1.6;
      
}

/*  layout for the images... 3 columns */
.gallery {
  width: 85%;
  margin: 20px auto 40px;
  display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
  /* grid-template-columns: repeat(3, minmax(240px, 1fr)); */
  gap: 24px;
}

/* styling the cards */
.card {
  background: #fff;
  border: 2px solid rgba(255,111,97,0.6); /* soft coral */
  border-radius: 14px;
  padding: 16px 18px;
 
}

/* title inside the cards */
.card h2 {
  margin: 6px 0 10px;
  color: #2A9D8F;                 
  font-family: "Comic Neue"; 
  text-align: center;
}


/* images inside the cards, making them the same size & no cropping */
.card img {
  width: 100%;
  height: 220px;        /* fixed height for the images */
  object-fit: contain;    /* full image w no cropping */  
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;      /* space below the image */
}


/* subheadings inside the cards */
.card h4 {
  font-size: 0.9em;
  color: #2A9D8F;
  font-family: "Comic Neue", cursive;
  margin-top: -6px;
}

/* text spacing inside the cards */
.card h4 { margin: 8px 0 10px; font-weight: 600; }
.card p  { margin: 6px 0; }

/* RESPONSIVE BREAKPOINTS */
/* @media (max-width: 900px) {
  .gallery { grid-template-columns: repeat(2, minmax(240px,1fr)); }
}
@media (max-width: 580px) {
  .gallery { grid-template-columns: 1fr; }
  .card img { height: 200px; }
} */
